<div class="panel panel-default">
	<div class="panel-heading">
		Search and Manage Rooms registered on SkyBnB
	</div>
	<div class="panel-body">
		<div class="container">
			
			<%= form_tag("/manage_rooms", method: "get") do %>
			
			<div class="row">
					<div class="form-group">
						<label>Email of Host you are looking for</label> <br>
						<%= text_field_tag :email%>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<h3> You can filter the rooms of the given Host <br>by entering <b>ONE</b> of the following criterias:</b> </h3>
						<label>Listing Name of the Room you are looking for</label> <br>
						<%= text_field_tag :listing_name %>
					</div>
				</div>

				
				<div class="row">
					<div class="form-group">
						<label>Address of the Room</label> <br>
						<%= text_field_tag :address %>
					</div>
				</div>

	
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Nightly Price of the Room</label> <br>
							<div class="input-group">
								<div class="input-group-addon">£</div>
								<%= text_field_tag :price %>
							</div>	
						</div>
					</div>
				</div>
			<div class="actions">
					<%= submit_tag "Search", class: "btn btn-primary" %>
				</div>

			<% end %>

		</div>
	</div>
</div>




<% if @results %>
		<div class="col-md-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						List of the rooms of the given Host
					</div>
					<div class="panel-body">
						
						<% @results.each do |room| %>
							<div class="row">
								<div class="col-md-2">
									<%= image_tag room.show_first_photo(:thumb), class: "image-thumb-size2" %>
								</div>		
								<div class="col-md-7">
									<h4><%= link_to room.listing_name, room_path(room.id) %></h4>
								</div>		
								<div class="col-md-3 right">
									<%= link_to "Delete the Room", room, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %>
								</div>		
							</div>
							<hr>
						<% end %>
		
					</div>
				</div>
		</div>
<% end %>
<% if @result %>
	<div class="col-md-9">
				<div class="panel panel-default">
					<div class="panel-heading">
						List of the rooms of the given Host
					</div>
					<div class="panel-body">
					
							<div class="row">
								<div class="col-md-2">
									<%= image_tag @result.show_first_photo(:thumb), class: "image-thumb-size2" %>
								</div>		
								<div class="col-md-7">
									<h4><%= link_to @result.listing_name, room_path(@result.id) %></h4>
								</div>		
								<div class="col-md-3 right">
									<%= link_to "Delete the Room", @result, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %>
								</div>		
							</div>
							<hr>
		
					</div>
				</div>
		</div>
<% end %>
